---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Semih",
    icon: "frameworks/react",
    url: "https://reactjs.org/",
  },
  {
    title: "Sefa",
    icon: "frameworks/preact",
    url: "https://preactjs.com/",
  },
  {
    title: "Yusuf",
    icon: "frameworks/svelte",
    url: "https://svelte.dev/",
  },
  {
    title: "Ali",
    icon: "frameworks/vue",
    url: "https://vuejs.org/",
  },
  
];

---

<ContentSection title="Eğitmenler" id="educators">
  <Fragment slot="lead">
    Alanında <span class="text-primary">uzman eğitmenler</span> ile birlikte{" "}
    <span class="text-primary">gelişiminizi</span>
    hızlandırın. <span class="text-primary">Tecrübelerden</span> faydalanın.
  </Fragment>
  <!-- <CompatibilityList
    items={frameworks}
    title="Eğitmenler"
    url="https://docs.astro.build/core-concepts/framework-components/"
  /> -->
  <!-- <CompatibilityList
    items={platforms}
    title="Platforms"
    url="https://docs.astro.build/guides/deploy/"
  /> -->
</ContentSection>
