---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Problem Çözme",
    description:
      "Problem çözme yeteneği, karmaşık sorunları anlayabilme, analiz edebilme ve etkili çözüm yolları üretebilme becerisini içerir.",
    icon: "mdi:handshake",
  },
  {
    title: "Analitik Düşünme",
    description:
      "Analitik düşünme, verileri mantıklı bir şekilde analiz edebilme, örüntüleri ve ilişkileri tanıyabilme ve sorunlara sistematik yaklaşabilme yeteneğini ifade eder.",
    icon: "mdi:feather",
  },
  {
    title: "Liderlik ve Yönetim",
    description:
      "Liderlik ve yönetim becerileri, bir grup insanı motive edebilme, kaynakları etkili bir şekilde yönetebilme ve hedeflere ulaşma sürecinde rehberlik edebilme yeteneğini içerir.",
    icon: "mdi:directions-fork",
  },
  {
    title: "İnovatif Düşünce",
    description:
      "İnovatif düşünce, yaratıcı fikirler üretebilme, alternatif çözümler bulabilme ve geleneksel yaklaşımlardan farklı ve etkili çıkış yolları yaratabilme yeteneğini ifade eder.",
    icon: "mdi:graph",
  },
  {
    title: "Dijital Okur-Yazarlık",
    description:
      "Dijital okur-yazarlık, dijital teknolojileri etkili bir şekilde kullanabilme, dijital ortamlarda bilgi arama ve paylaşma yeteneği ile dijital güvenlik konularında farkındalık sahibi olma yeteneğini içerir.",
    icon: "mdi:search-web",
  },
  {
    title: "İletişim",
    description:
      "İletişim becerileri, fikirleri açık ve etkili bir şekilde ifade edebilme, dinleme yeteneği ve çeşitli iletişim kanallarını etkili bir şekilde kullanabilme yeteneğini ifade eder.",
    icon: "mdi:human-greeting-proximity",
  },
  {
    title: "İş Birliği ve Takım Çalışması",
    description:
      "İş birliği ve takım çalışması, farklı yeteneklere sahip bireylerle etkili bir şekilde işbirliği yapabilme, iletişim kurabilme ve ortak hedeflere yönelik çalışabilme yeteneğini içerir.",
    icon: "mdi:account-group",
  },
  {
    title: "Öğrenme ve Öğrenmeye Açıklık",
    description:
      "Öğrenme ve öğrenmeye açıklık, yeni bilgileri hızla öğrenme, değişen koşullara uyum sağlama ve kişisel gelişime açık olma yeteneğini ifade eder.",
    icon: "mdi:school",
  },
  {
    title: "Kültürel Farkındalık ve Çeşitlilik",
    description:
      "Kültürel farkındalık ve çeşitlilik, farklı kültürleri ve perspektifleri anlayabilme, hoşgörülü olabilme ve kültürel çeşitliliği değerlendirebilme yeteneğini içerir.",
    icon: "mdi:set-right",
  },
];

---

<ContentSection title="Beceriler" id="skills">
  <Fragment slot="lead">
    Bimesken ile <span class="text-primary">yeni beceriler</span> edinin ve kendinizi geliştirin.
    Bimesken ile <span class="text-primary">21. yüzyılın</span> takibinde kalın.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
