---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Zamanı Yakala" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    Bimesken gelişen teknolojiler ve 21. yüzyıl yetkinliklerini
    <span class="text-primary">gençliğimiz</span> ile buluşturuyor.
    <span class="text-primary">Modern ve çağı yakalayan</span>
    bir Türkiye için <span class="text-primary">teknoloji eğitimlerimizi</span> sizinle paylaşıyoruz.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-1">
    <a
      href="https://docs.google.com/forms/d/1lePHokusMvJsg1gzf82gv-g8vXBqJmnoTjJR46gzjFo/edit"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
      target="_blank"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Şimdi kaydolun</span>
    </a>
    <!-- <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a> -->
  </div>
</ContentSection>
